﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <script>
        var APP_PATH = '@Url.AbsoluteContent("~/")'
    </script>
</head>

<form name="TodoForm" id="TodoForm" ng-app="app" ng-controller="TodoItemCtrl" novalidate>

    <div class="panel-heading"><h4>Add New Task</h4></div>
    <div class="panel-body">

        <div class="col-md-12">
            <div class="col-md-5">
                <div class="pull-left">Description</div>
                <input type="text" class="form-control" ng-required="true" ng-model="TodoItem.Description" />
            </div>
            <div class="col-md-5">
                <div class="pull-left">Due Date</div>
                <input type="date" class="form-control"  ng-required="true" ng-model="TodoItem.DueDate" />
            </div>
            <div class="col-md-2">
                <input class=".btn" type="button" ng-click="AddTodoItemToList();" value="Add Todo Item" />
            </div>
        </div>
    </div>

    <table class="table" ng-show="TodoList.length > 0">
        <thead>
            <tr>
                <th scope="col">Complete</th>
                <th scope="col">Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="(key, value) in TodoList">
                <td><input type="checkbox" ng-checked="value.complete" ng-click="UpdateTodoItem(value.id,$event);" /></td>
                <td>{{value.description}}</td>
                <td>{{value.createdDate}}</td>
                <td>{{value.dueDate}}</td>
                <td><input type="button" ng-click="DeleteTodoItem(value.id);" value="Delete" /></td>
            </tr>
            <tr ng-repeat-end=""></tr>
        </tbody>
    </table>

    <div ng-show="TodoList.length == 0">
        There were no tasks found, use the add button to add a new task
    </div>

    <input class=".btn pull-right" type="button" ng-click="ClearList();" value="Clear My Todo List" />
</form>


