﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Welcome to the Online Todo List
</h1>

<div class="row">
    <div class="col-md-6">
        <h2>TODO: Upcoming Task Lists go here:</h2>
        <ul>
            <li>Task One</li>
            <li>Task Two</li>
        </ul>
    </div>

</div>
